<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top 3 Interest</title>
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <div class="page">
    <div class="header">
      {% include 'components/header.html' %}
    </div>

    <div class="content">
      <p class="page_head1">{{ title_1 }}</p>
      <div style="display: flex; justify-content: space-between; width: 100%;">
        {% for rank in ["1", "2", "3"] %}
        <div style="display: flex;
  flex-direction: column; align-items: center;
  width: 180px;">
          <div class="top-interest-card">
            <img src="images/interests/buisness.png" alt="{{ top_3_interest[rank].name }}" class="interest-bg">
            <div class="interest-gradient"></div>
            <div class="interest-rank">{{ rank }}</div>
            <div class="interest-title">{{ top_3_interest[rank].name }}</div>
          </div>
          <div style="font-size: 14px;">
            <div style="color: #29389B;
  font-weight: 800; margin: 8px 0; ">
              {{ top_3_interest[rank].small_text }}
            </div>
            <div style="margin-bottom: 10px; font-style: italic;">
              {{ top_3_interest[rank].big_text }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <p class="page_head1" style="margin-top: 50px;">{{ title_2 }}</p>
      <div style="height: 350px; display: flex; justify-content: center; align-items: center; aspect-ratio: 1;">
        <img src="{{ chart_path }}" style="height: 100%; width: 100%; object-fit: contain; display: block;"
          alt="comparison bar graph" />
      </div>
      <p class="desc_graph">{{ desc_graph }}</p>
      <p class="exihibit">{{ Exhibit }}</p>
    </div>

    <div class="footer">
      {{ page_no }}
    </div>
  </div>
</body>
</html>