<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top 3 Interest</title>
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/page_with_top_3_elements.css">
</head>
<body>
  <div class="page">
    <!-- Header -->
    <div class="header">
      <div class="header_bar">
        <div class="header_title">{{ factor }} Report</div>
        <img src="images/header_line.svg" class="header_line" alt="header_line" />
        <img src="images/logo.png" class="logo" alt="auro_edu_logo" />
      </div>
    </div>

    <div class="content">
      <div class="page_head1">{{ title_1 }}</div>
      <div class="top3-flex-row">
        <div class="top3-col">
          <div class="top-interest-card">
            <img src="{{ top_3_interest['1'].small_image }}" alt="{{ top_3_interest['1'].name }}" class="interest-bg">
            <div class="interest-gradient1"></div>
            <div class="interest-rank">1</div>
            <div class="interest-title">{{ top_3_interest['1'].name }}</div>
          </div>
          <div class="top3-small-text">
            <div class="top3-small-text-inner" style="color: #29389B;">
              you are {{top_3_interest['1'].score}} % {{top_3_interest['1'].name}}.
            </div>
            <div class="top3-small-text-italic">
              {{ top_3_interest['1'].small_text }}
            </div>
          </div>
        </div>
        <div class="top3-col">
          <div class="top-interest-card">
            <img src="{{ top_3_interest['2'].small_image }}" alt="{{ top_3_interest['2'].name }}" class="interest-bg">
            <div class="interest-gradient2"></div>
            <div class="interest-rank">2</div>
            <div class="interest-title">{{ top_3_interest['2'].name }}</div>
          </div>
          <div class="top3-small-text">
            <div class="top3-small-text-inner" style="color: #5B27C8;">
              you are {{top_3_interest['2'].score}} % {{top_3_interest['2'].name}}.
            </div>
            <div class="top3-small-text-italic">
              {{ top_3_interest['2'].small_text }}
            </div>
          </div>
        </div>
        <div class="top3-col">
          <div class="top-interest-card">
            <img src="{{ top_3_interest['3'].small_image }}" alt="{{ top_3_interest['3'].name }}" class="interest-bg">
            <div class="interest-gradient3"></div>
            <div class="interest-rank">3</div>
            <div class="interest-title">{{ top_3_interest['3'].name }}</div>
          </div>
          <div class="top3-small-text">
            <div class="top3-small-text-inner" style="color: #A259B5;">
              you are {{top_3_interest['3'].score}} % {{top_3_interest['3'].name}}.
            </div>
            <div class="top3-small-text-italic">
              {{ top_3_interest['3'].small_text }}
            </div>
          </div>
        </div>
      </div>
      <div class="page_head1">{{ title_2 }}</div>
      <div class="top3-graph-container">
        <img src="{{ graph_image }}" class="top3-graph-img" alt="comparison bar graph" />
      </div>
      <div class="desc_graph">{{ desc_graph }}</div>
      <div class="exihibit">{{ Exhibit }}</div>
      <div class="note">*Note: The average, minimum, and maximum scores are computed based on global student data for this test</div>
    </div>

    <div class="footer">
      {{ page_display }}
    </div>
  </div>
</body>
</html>