<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ factor }} Report</title>
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <div class="page">

    <!-- Header -->
            <div class="header_bar">
            <div class="header_title">{{ factor }} Report</div>
            <div>
                <img src="images/header_line.svg" class="header_line" alt="header_line" />
            </div>
            <div>
                <img src="images/logo.png" class="logo" alt="auro_edu_logo" />
            </div>
        </div>

    <!-- Content -->
    <div class="content">
      <p class="page_head1">{{ title }}</p>
      <p class="para">{{ paragraph }}</p>
      <p class="page_head3">{{ type_of_graph }}</p>

      <div class="chart-wrap">
        <img src="{{ graph_image }}" class="spider_graph" alt="spider_graph" />
      </div>

      <p class="desc_graph">{{ desc_graph }}</p>
      <p class="exihibit">{{ Exhibit }}</p>
    </div>

    <!-- Footer -->
    <div class="footer">
      {{ page_display }}
    </div>

  </div>
</body>
</html>
