<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page 5</title>
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <div class="page">
    <div class="header">
      {% include 'components/header.html' %}
    </div>

    <div class="content">
      <p class="page_head1">{{ title }}</p>
      <p class="para">{{ paragraph }}</p>
      <p class="page_head3">{{ type_of_graph }}</p>

      <div class="chart-wrap">
        <img src="{{ chart_path }}" class="spider_graph" alt="spider_graph" />
      </div>

      <p class="desc_graph">{{ desc_graph }}</p>
      <p class="exihibit">{{ Exhibit }}</p>
    </div>

    <div class="footer">
      {{ page_no }}
    </div>
  </div>
</body>
</html>
