@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@page{
    size: A4;
    margin: 0;
    padding: 0;
}

* {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


.front-page-bg {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.front-title {
  position: absolute;
  left: 40px;
  top: 60px;
  color: #fff;
}

.main-title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
  text-shadow: 0 2px 8px #0006;
}

.sub-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 18px;
  text-shadow: 0 2px 8px #0006;
}

.right-panel {
  position: absolute;
  top: 60px;
  right: 48px;
  width: 150px;
  background: rgba(24,31,58,0.85);
  border-radius: 14px;
  padding: 10px;
  box-shadow: 0 2px 16px #0002;
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid #1354FE;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.right-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.factor-item {
    text-align: center;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  white-space: normal;
  word-break: break-all;
  background: none;
}

.factor-divider-img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 120px;
}

.factor-item.active {
  background: #1354FE;
  color: #fff;
  font-weight: 700;
}

.factor-title {
  position: absolute;
  left: 40px;
  bottom: 380px;
  color: #fff;
  font-size: 80px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-shadow: 0 2px 8px #0006;
}

.factor-desc {
  position: absolute;
  left: 40px;
  bottom: 300px;
  color: #fff;
  font-size: 24px;
  width: 700px;
  font-weight: 600;
  line-height: 1.4;
  text-shadow: 0 2px 8px #0006;
}

.logo-area {
  position: absolute;
  left: 40px;
  bottom: 160px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo-img {
  width: 300px;
  height: auto;
  background: transparent; 
  border-radius: 0;   
}

.user-info {
  position: absolute;
  right: 48px;
  bottom: 80px;
  background: rgba(24,31,58,0.85);
  border-radius: 12px;
  padding: 24px;
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Lato', Arial, sans-serif;
  box-shadow: 0 2px 16px #0002;
  min-width: 180px;
  background: rgba(255, 255, 255, 0.08);
  border: 1.5px solid rgba(255,255,255,0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.footer-part {
  position: absolute;
  left: 40px;
  bottom: 80px;
  color: #fff;
  font-size: 22px;
  font-family: 'Lato', Arial, sans-serif;
  opacity: 0.8;
}